PORT=3000
NODE_ENV=development

PG_HOST=localhost
PG_USER=siradmin
PG_PASS=change_me
PG_DB=sir_dev

JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d

INBOUND_API_KEY=change_me_inbound_api_key

SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=change_me_admin_password
